body{
  margin: 0;
  width: 100%;
  height: 100vh;
  background: black;
}

.bg-img{
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(4px);
  opacity: 0.7;
}

.nav-cont{
  width: 100%;
  height: 10vh;
  background: #e7008a;
  display: none;
}

.login-cont{
  position: absolute;
  width: 400px;
  height: auto;
  left: 50%;
  top: 50%;
  margin-top: 100px;
  transform: translate(-50%, -50%);
  margin: 0;
  opacity: 0.9;
}

.login-cont img{
  position: relative;
  width: 120px;
  border: 7px solid #222021;
  border-radius: 100px;
  left: 50%;
  transform: translateX(-50%);
  top: -60px;
}

.login-cont h1{
  position: relative;
  margin-top: 0;
  text-align: center;
  top: -50px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}

.login-form{
  width: 100%;
  height: auto;
}

.login-form input{
  position: relative;
  width: 80%;
  height: 40px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  border: none;
  border-left: 5px solid #e7008a;
  font-size: medium;
  padding-left: 10px;
  font-family: 'Poppins', sans-serif;
}

.login-form input:placeholder{
  font-size: medium;
}

.login-form button{
  position: relative;
  width: 50%;
  height: 50px;
  font-size: medium;
  font-weight: normal;
  background: none;
  border: none;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
  margin-bottom: 40px;
  transition: 0.3s ease-in-out;
  font-family: 'Poppins', sans-serif;

}

.login-form button .login-btn-div-1{
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #e7008a;
  z-index: -1;
  transition: 0.2s ease-in-out;
}

.login-form button .login-btn-div-2{
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background: black;
  transition: 0.4s ease-in-out;
}

.login-form button:hover .login-btn-div-1{

  height: 100%;
  transition: 0.2s ease-in-out;
}

.login-form button:hover .login-btn-div-2{
  height: 100%;
  
  z-index: -1;
  transition: 0.4s ease-in-out;
}

.login-form button:hover{

}